# python=3.12

datasets
jupyter
matplotlib
networkx
numpy
pandas
pydantic
pydantic-settings
pydantic-settings-yaml
pydantic-yaml
python-deepcompare
python-dotenv
pyyaml
scikit-learn
scipy
# tensorboard
torch
torchtext
transformers
tqdm



